<div class="div-container pt-12 pb-28 overflow-hidden">
  <countries-filter
    [countries]="countries"
    *ngIf="!countriesLoading"
  ></countries-filter>
  <countries-filter-loading *ngIf="countriesLoading"></countries-filter-loading>
  <div
    class="mt-12 grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-x-6 gap-y-4"
    *ngIf="paginatedCountries$ | async as paginatedCountries"
  >
    <country-summary
      *ngFor="let country of paginatedCountries"
      [country]="country"
    ></country-summary>
  </div>
  <countries-loading *ngIf="countriesLoading"></countries-loading>
  <div class="mt-7">
    <page-paginator
      *ngIf="filteredCountries$ | async as filteredCountries"
      [source]="filteredCountries"
      [source$]="filteredCountries$"
    ></page-paginator>
  </div>
</div>
